body,ul,li,h1,h2,p{padding:0;margin:0;list-style-type: none; font-family: "\5fae\8f6f\96c5\9ed1", "Microsoft YaHei", Helvetica, Arial, sans-serif}
img{max-width: 100%}
.container{width:100%; height:100%; position: absolute;left:0;top:0; overflow: hidden}
.nextBtn{position:fixed;-webkit-animation: next 1s 0s infinite; z-index: 30;right:-100%;bottom:20%;width:8rem;height:3rem;line-height: 3rem;background: #000;opacity: 0.6; font-size:1.6rem;border-radius: 5px 0 0 5px;color:#fff; text-align: center; text-decoration: none;-webkit-transition: right 1s 0s ;transition: right 1s 0s}
@-webkit-keyframes san {
    0%{opacity:1;transform: scale(5);-webkit-transform: scale(5)}
    5%{opacity:0.5;transform: scale(3);-webkit-transform: scale(3)}
    10%{opacity:0.6;transform: scale(0.9);-webkit-transform: scale(0.9)}
    20%{opacity:0.2;transform: scale(1);-webkit-transform: scale(1)}
    30%{opacity:0.7;transform: scale(1);-webkit-transform: scale(1)}
    60%{opacity:0.4;transform: scale(1);-webkit-transform: scale(1)}
    100%{opacity:1;transform: scale(1);-webkit-transform: scale(1)}
}
@-webkit-keyframes next {
    0%{-wekit-transform: scale(1)}
    50%{-wekit-transform: scale(1.01)}
    100%{-wekit-transform: scale(1)}
}
@-webkit-keyframes turn {
    0%{opacity:0;transform: rotateY(0deg) scale(5);-webkit-transform: rotateY(0deg) scale(5)}
    80%{opacity:0.6;transform: rotateY(360deg) scale(1);-webkit-transform: rotateY(360deg) scale(1)}
    100%{opacity:1;transform:  rotateY(360deg) scale(1);-webkit-transform: rotateY(360deg) scale(1) }
}
@-webkit-keyframes opa {
    0%{opacity:0}
    100%{opacity:1}
}
@-webkit-keyframes opaHide {
    0%{opacity:1}
    100%{opacity:0}
}
@-webkit-keyframes pop{
    0%{opacity:0;transform:scale(.1);-webkit-transform:scale(.1)}
    50%{opacity:.7;transform:scale(1.1);-webkit-transform:scale(1.1)}
    70%{opacity:1;transform:scale(.9);-webkit-transform:scale(.9)}
    100%{opacity:1;transform:scale(1);-webkit-transform:scale(1)}
}
#about-content{background: #fff}.about-content{background: #fff}
.main-footer{width:100%; line-height:20px;color:#fff; font-size:14px; z-index: 100;position: fixed;left:0;bottom:0; height:50px;overflow: hidden}
.main-footer div{width:42%;position: absolute;top:0;left:0;height:50px;display: block;text-align: center;background:rgba(0,0,0,0.6);}
.main-footer div p{height:50px; position: relative;border-right: #fff 1px solid}
.main-footer div img{position: absolute;height:40px;top:5px;left:5px;border-radius:100%;width:40px; border: none}
.main-footer div:nth-child(1) p{line-height: 50px}
.main-footer div:nth-child(2){left:42%;width:28%}
.main-footer div:nth-child(3){left:70%;width:30%}
.main-footer div:nth-child(3) p{border-right:none}
.main-footer a{color:#fff; text-decoration: none;width:100%;height:45px;display: block; position: absolute;left:0;top:5px}
.main-footer a i{height:20px}
.main-footer span{position: absolute;left:50px;top:5px;text-align: left; line-height: 40px}
