<h5>去赠险：</h5>
<div>
  <button class="btn btn-primary insure-list-btn">跳转赠险列表</button>
  <button class="btn btn-primary insure-detail-btn">跳转到赠险详情</button>
</div>
<h5>去赚钱：</h5>
<div>
  <select class="get-money-cat">
	<option value="person" selected="true">个险</option>
	<option value="group">团险</option>
	<option value="property">财险</option>
	<option value="car">车险</option>
  </select>
  <button class="btn btn-info get-money-btn">跳转去赚钱频道</button>
</div>
