<form action="">
  <div class="input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-list-alt"></span></span>
    <input type="text" name="subject" class="form-control" data-validate="required" placeholder="请输入描述" value="情怀付款">
  </div>
  <div class="input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-piggy-bank"></span></span>
    <input type="text" name="totalPrice" class="form-control" data-validate="money" placeholder="请输入价格" value="0.01">
  </div>
</form>
<button class="btn btn-primary get-bill-btn">创建新订单</button>
<h5>支付信息：</h5>
<div class="pay-info">
</div>
<div class="small">*不支持原生支付的App版本会跳转到支付宝网页支付</div>
<div>
<button class="btn btn-primary alipay-btn">支付宝支付</button>
</div>
<h5>支付结果：</h5>
<div class="well pay-result"></div>