<div class="col-sm-6 col-md-4 photo-item">
    <div class="thumbnail">
      <img src="{{photoUrl}}">
      <div class="caption">
      <p>{{txt}}</p>
      <p>{{actualSize.width}} × {{actualSize.height}} <button class="btn btn-sm btn-danger btn-del">×</button></p>
      </div>
    </div>
</div>