<div>
<div class="btn-group photo-channel-btns">
    <button type="button" class="btn btn-default btn-success" data-channel="1">拍照</button>
    <button type="button" class="btn btn-default btn-success" data-channel="2">相册</button>
</div>
<div class="btn-group photo-option-btns">
    <button type="button" class="btn btn-default btn-size btn-info" data-size="4_3">400 × 300</button>
    <button type="button" class="btn btn-default btn-size" data-size="4_4">400 × 400</button>
    <button type="button" class="btn btn-default btn-size" data-size="3_4">300 × 400</button>
    <button type="button" class="btn btn-default btn-secret">私密</button>
</div>
<button class="btn btn-primary photo-btn">添加图片</button>
</div>
<div class="row photo-list"></div>
