@import 'base.css';
@import 'vars.css';
body {
  background: var(--f8-bg);
}
.rtt_about {
  font-size: 15px;
  color: var(--major-color);
  background: var(--f8-bg);
  text-align: center;
  &::after {
    @apply --safe-area-inset-bottom;
  }
}