@custom-media --small-viewport (20em < width <= 30em);
@custom-media --tiny-viewport (10em < width <= 20em);

/* stylelint-disable selector-type-no-unknown */
:root {
  --extend-click {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
  }

  --text-nowrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  --center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  --ver-line {
    z-index: 1;
    content: '';
    position: absolute;
    height: 100%;
    width: 1px; /* no */
    transform: scaleX(0.5);
    transform-origin: 0 0;
    pointer-events: none;
  }

  --hor-line {
    z-index: 1;
    content: '';
    position: absolute;
    width: 100%;
    height: 1px; /* no */
    transform: scaleY(0.5);
    transform-origin: 0 0;
    pointer-events: none;
  }

  --around-line {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    border: 1px solid #e5e5e5; /* no */
    content: '';
    pointer-events: none;
    transform: scale(0.5);
    transform-origin: left top;
  }

  --safe-area-inset-bottom {
    display: block;

    &::after {
      display: block;
      content: ' ';
      height: constant(safe-area-inset-bottom);
      height: env(safe-area-inset-bottom);
    }
  }
}
/* stylelint-enable */
