.top-float-header {
  position: fixed;
  z-index: 100;
  background: #fff;
  color: #1c1c1c;
  box-shadow: 0 0 1px rgba(213, 213, 213, 0.75);
  height: 44px;
  width: 100%;
  top: 0;
  margin: 0 auto;
}

.top-float-header > .left-back-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 5px;
  top: 50%;
  margin-top: -20px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  background: url("http://media.winbaoxian.com/static/images/sales/icon_left.png?v=150602") center no-repeat;
  background-size: 8px;
}

.top-float-header > h1 {
  height: 44px;
  line-height: 44px;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  border-bottom: 1px solid #e1e1e1;
  width: 100%;
  margin: 0 auto;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
