
/**/
/***********************************************
	-	       loader 页面加载样式            	-
***********************************************/
.loading-main{
    position: fixed;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 600;
}
.loading-animate{
    position: absolute;
    top: 40%;
    left: 0;
    width: 200px;
    left: 50%;
    margin-left: -100px;
}
.loading-text{
    text-align: center;
    color: #c7c3c3;
    font-size: 14px;
    font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
    padding-top: 10px;
}

.loading-footer-essay{
    width: 100%;
    height: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 15px 15px 0 15px;
    border-top: 1px solid #eaeaea;
    background-color: #fdfdfd;
    line-height: 20px;
}
.loading-footer-essay .article-text{
    text-align: center;
    color: #848282;
    font-size: 14px;
}
.loading-footer-essay .author-name{
    text-align: right;
    font-size: 12px;
    color: #c7c3c3;
}
.loader-threedots
{
    display:block;
    font-size:0px;
    padding:0px;
    margin: 0 auto;
    width: 72px;

}
.loader-threedots span
{
    vertical-align:middle;
    border-radius:100%;
    background:#0087fb;
    display:inline-block;
    width:20px;
    height:20px;
    margin:3px 2px;
    -webkit-animation:loader-threedots 0.8s linear infinite alternate;
    animation:loader-threedots 0.8s linear infinite alternate;
}
.loader-threedots span:nth-child(3)
{
    -webkit-animation-delay:-0.8;
    animation-delay:-0.8s;
}
.loader-threedots span:nth-child(2)
{
    -webkit-animation-delay:-0.26666s;
    animation-delay:-0.26666s;

}
.loader-threedots span:nth-child(1)
{
    -webkit-animation-delay:-0.53333s;
    animation-delay:-0.53333s;
}
@keyframes loader-threedots
{
    from {transform: scale(0, 0);}
    to {transform: scale(1, 1);}
}
@-webkit-keyframes loader-threedots
{
    from {-webkit-transform: scale(0, 0);}
    to {-webkit-transform: scale(1, 1);}
}

