@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
}
.photowrap {
  position: absolute;
  width: 100%;
  height: 100%;
}
.photoarea {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid #0ff;
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.myphoto {
  position: absolute;
  left: 0;
  top: 0;
}
input[name="myphoto"] {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 300px;
  opacity: 0;
  z-index: 10;
}
.choose {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  z-index: 100;
}
.choosewrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.chooseimg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 120%;
  vertical-align: middle;
}
.choosearea {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -150px;
  margin-left: -150px;
  display: inline-block;
  width: 300px;
  height: 300px;
  border: 1px solid #f00;
  background: rgba(255, 255, 255, 0.3);
  pointer-events: none;
  z-index: 10;
}
