@import '@/common/css/apply.css';

.cv4i_basic {
  line-height: 1.5;

  & .cv4i_basic_logo {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    padding: 30px 24px;
    border-radius: 18px;
    background: white;

    & > .image {
      position: relative;
      width: 148px;
      height: 100px;
      line-height: 98px;
      margin-right: 18px;
      border: 1px solid #ccc;

      & > img {
        @apply --center;

        display: inline-block;
        max-width: 90%;
        max-height: 90%;
      }
    }

    & > .content {
      display: flex;
      align-items: center;

      & h3 {
        @apply --text-nowrap;

        width: 460px;
        margin-bottom: 10px;
        font-size: 30px;
        font-weight: bold;
      }

      & p {
        transform: scale(0.8333);
        transform-origin: left center;

        & .type {
          display: inline-block;
          padding: 1px 6px;
          border: 1px solid #0a64fe;
          border-radius: 4px;
          color: #0a64fe;
          font-size: 24px;
        }
      }
    }
  }

  & .cv4i_basic_info {
    margin-bottom: 24px;
    padding-bottom: 18px;
    border-radius: 18px;
    background: white;

    & > dt {
      margin-bottom: 18px;
      padding: 24px;
      font-size: 34px;
      font-weight: bold;
      border-bottom: 1px solid #e5e5e5;
    }

    & > dd {
      display: flex;
      padding: 18px 24px;

      & > label {
        flex: 0 0 212px;
        color: #999;
      }

      & > .content {
        flex: 1;

        & .tx {
          word-break: break-word;
        }
      }

      & > .content.webUrl {
        text-decoration-line: underline;
      }

      & > .content.introduction_fold .tx {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      & > .content .more {
        text-align: center;
        color: #0a64fe;

        & em {
          margin-right: 8px;
          font-style: normal;
        }
      }
    }
  }
}
