/*覆盖bootstrap默认样式*/

.well,
.photo-item p {
    word-wrap: break-word;
}


/*页面样式*/

form {
    padding-bottom: 10px;
}

form .input-group,
form .button-group {
    margin-bottom: 5px;
}

form .btn-group-addon,
form .btn-group-addon[disabled] {
    opacity: 1;
    color: #555;
    background-color: #eee;
    border: 1px solid #ccc;
}

.panel-heading {
    cursor: pointer;
}

.json-table {
    width: 100%;
}

.json-table td {
    word-break: break-all;
    word-wrap: break-word;
}

.json-table .key {
    width: 30%;
}

.json-table .val {
	width: 70%;
}
