:root {
  --main-color: #508CEE;
  --major-color: #333;
  --minor-color: #999;
  --light-color: #ccc;

  --light-border: #ddd;
  
  --e5-bg: #e5e5e5;
  --f8-bg: #f8f8f8;

  --safe-area-inset-bottom: {
    display: block;
    content: ' ';
    height: constant(safe-area-inset-bottom);
    height: env(safe-area-inset-bottom);
  }
}

.safe_area_inset_bottom {
  font-size: 15px;
  color: var(--major-color);
  &::after {
    @apply --safe-area-inset-bottom;
  }
}