<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta content="telephone=no,email=no" name="format-detection">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, viewport-fit=cover">
  <%= VUE_APP_HEAD_LINKS %>
  <title><%= VUE_APP_TITLE %></title>
</head>

<body>
  <noscript>
    <strong>We're sorry but project doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <%= VUE_APP_SCRIPTS %>
  <!-- built files will be auto injected -->
</body>

</html>