<div class="commonDiv">
    <header class="commonTitle">收件人信息</header>
    <ul class="commonListUl">
        <li>
            <label class="commonLabel">姓名</label>
            <input name="cname" placeholder="输入姓名可生成封面" type="text" autocomplete="off" data-fmt="free" autocomplete="off">
        </li>
        <li>
            <label class="commonLabel">性别</label>
            <input type="radio" name="csex" value="1" checked />
            <label>男</label>
            <input class="mrgLeft_10" type="radio" name="csex" value="2" />
            <label>女</label>
        </li>
    </ul>
    <input name="cid" type="hidden">
</div>