.box_01 {
  overflow: hidden;
  border: 1px solid #0aa;
}
.box_01 .container_01 {
  white-space: nowrap;
}
.box_01 .container_01 .item_01 {
  display: inline-block;
  color: #0aa;
}

.box_04 {
  --my-color: #c0ffee;
  background-image: linear-gradient(to right, #fff, var(--my-color));
  transition: --my-color 1s ease-in-out;
}
.box_04:hover {
  --my-color: #00dddd;
}