img {
  display: block;
  width: 100%;
}

.box_01 .box_01_wrapper {
  position: relative;
  height: 337px;
}

.box_01 .box_01_wrapper svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  pointer-events: none;
}