:root {
    --mainColor_blue: #508CEE;
    --gray_333: #333;
    --gray_666: #666;
    --gray_999: #999;
    --gray_ccc: #ccc;
    --gray_e5: #e5e5e5;
}
@define-mixin nowrap {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
}

@define-mixin fontIconCenter {
    position: absolute;
    top: 50%;
    margin-top: -0.5rem;
    vertical-align: middle;
}

@define-mixin floatRight {
    position: relative;
    float: right;
}

@define-mixin vertical_center {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

