/*APP弹出框样式*/

.over-prompt * {
    margin: 0;
    padding: 0;
}
.over-prompt {
    font-size: 16px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-family: 'Tahoma' 'Trebuchet MS' '微软雅黑' 'Verdana';
    background: rgba(0, 0, 0, 0.5);
    z-index: 3000;
}
.over-prompt ul,
.over-prompt li,
.over-prompt ol,
.over-prompt dl,
.over-prompt dt,
.over-prompt dd {
    list-style: none;
}

.prompt-ul {
    position: absolute;
    left: 10%;
    width: 80%;
    background: #fff;
    border-radius: 10px;
}

.prompt-tit-oneline,
.prompt-tit-mulline {
    height: 35px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.prompt-msg-oneline,
.prompt-msg-mulline {
    width: 100%;
    line-height: 165%;
    padding: 20px 0;
    text-align: center;
}

.prompt-msg-mulline {
    padding: 20px 0;
    color: #646464;
    text-align: left;
}

.prompt-msg-oneline span,
.prompt-msg-mulline span {
    display: block;
    padding: 0 20px;
}

.prompt-btn {
    height: 40px;
    line-height: 40px;
    color: #0087fb;
    font-size: 18px;
    text-align: center;
    border-top: 1px solid #f0eff4;
}

.pop-ok-btn,
.pop-cannel-btn {
    display: inline-block;
    width: 50%;
    height: 100%;
    color: #0087fb;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pop-cannel-btn {
    border-right: 1px solid #f0eff4;
}

.exit-ul {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
}

.exit-li {
    width: 100%;
    height: 45px;
    line-height: 45px;
    margin-top: 10px;
    font-size: 18px;
    color: #979797;
    text-align: center;
    background: #fff;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fadeout {
    -webkit-animation: fadeOut ease forwards;
    -webkit-animation-duration: 1s;
    animation: fadeOut ease forwards;
    animation-duration: 1s;
}

.delay-2s {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

@-webkit-keyframes downShow {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes downShow {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.downShow {
    -webkit-animation: downShow 1s ease forwards;
    animation: downShow 1s ease forwards;
}

@-webkit-keyframes downHide {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes downHide {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

.downHide {
    -webkit-animation: downHide 1s ease forwards;
    animation: downHide 1s ease forwards;
}


/***********************************************
	-	       loader 页面加载样式            	-
***********************************************/

.loading-main {
    position: fixed;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    z-index: 3000;
}

.loading-animate {
    position: absolute;
    top: 40%;
    width: 200px;
    left: 50%;
    margin-left: -100px;
}

.loading-text {
    text-align: center;
    color: #c7c3c3;
    font-size: 14px;
    font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
    padding-top: 10px;
}

.loading-footer-essay {
    width: 100%;
    height: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 15px 15px 0 15px;
    border-top: 1px solid #eaeaea;
    background-color: #fdfdfd;
    line-height: 20px;
}

.loading-footer-essay .article-text {
    text-align: center;
    color: #848282;
    font-size: 14px;
}

.loading-footer-essay .author-name {
    text-align: right;
    font-size: 12px;
    color: #c7c3c3;
}

.loader-threedots {
    display: block;
    font-size: 0;
    padding: 0;
    margin: 0 auto;
    width: 72px;
}

.loader-threedots span {
    vertical-align: middle;
    border-radius: 100%;
    background: #0087fb;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 3px 2px;
    -webkit-animation: loader-threedots 0.8s linear infinite alternate;
    animation: loader-threedots 0.8s linear infinite alternate;
}

.loader-threedots span:nth-child(3) {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.loader-threedots span:nth-child(2) {
    -webkit-animation-delay: -0.26666s;
    animation-delay: -0.26666s;
}

.loader-threedots span:nth-child(1) {
    -webkit-animation-delay: -0.53333s;
    animation-delay: -0.53333s;
}

@keyframes loader-threedots {
    from {
        transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
    }
}

@-webkit-keyframes loader-threedots {
    from {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
    }
    to {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
